<?xml version="1.0"?>
<launch>
  <arg name="id_robot" default="robot"/>
  <arg name="prefix" default="$(arg id_robot)_"/>

  <!-- Dockers arguments -->
  <arg name="has_docker" default="$(optenv ROBOT_HAS_DOCKER false)"/>

  <!-- Move arguments-->

	<group ns="$(arg id_robot)">

      <include if="$(arg has_docker)" file="$(find rb2_navigation)/launch/rb2_docking.launch">
        <arg name="id_robot" value="$(arg id_robot)"/>
        <arg name="fixed_frame" default="$(arg prefix)odom"/>
	      <arg name="robot_base_frame" default="$(arg prefix)base_footprint"/>
      </include>

      <include file="$(find rb2_navigation)/launch/move.launch">
        <arg name="id_robot" value="$(arg id_robot)"/>
      </include>

      <include file="$(find rb2_navigation)/launch/scan_filter.launch">
        <arg name="node_name" value="front_laser_scan_filter"/>
        <arg name="input_scan" value="front_laser/scan"/>
        <arg name="output_scan" value="front_laser/filtered_scan"/>
        <arg name="config_file" value="scan_filter.yaml"/>
      </include>

	</group>
</launch>
