<?xml version="1.0"?>
<launch>
   <arg name="run_filter" default="true" />

   <!-- launch complementary filter -->
   <include if="$(arg run_filter)" file="$(find rb2_localization)/launch/imu_filter.launch"/>
   <node unless="$(arg run_filter)" pkg="topic_tools" type="relay" name="imu_relay" args="mavros/imu/data imu/data" />
   <!-- start the robot_localization_utils node to provide calibration services and reset odometry -->
   <node pkg="robot_localization_utils" type="rl_utils" name="robot_localization_utils"/>
   
</launch>
