<?xml version="1.0"?>
<launch>
  <!-- TEB LOCAL PLANNER -->
  <arg name="id_robot" default="rb2" />
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="cmd_vel_topic" default="move_base/cmd_vel"/> <!-- using twist mux -->
  <arg name="odom_topic" default="robotnik_base_control/odom"/>
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="scan_topic" default="laser/scan"/>

  <param name="/use_sim_time" value="true"/>

  <!--<node pkg="rosbag" type="play" name="player" args="- -clock /home/mbosch/workspaces/fresenius_ws/src/test_localization/fresenius_complete_010818.bag -s 1285 -r 3">-->
  <node pkg="rosbag" type="play" name="player" args="--clock /home/mbosch/workspaces/fresenius_ws/src/test_localization/mapping2.bag -r 5">
     <remap from="/tf" to="/tf_dirty" />
     <remap from="/tf_static" to="/tf_static_dirty" />
  </node>
  <group ns="$(arg id_robot)" >
 
   <node pkg="rb2_localization" type="tf_remove_frames.py" name="tf_remove_frames" >
     <remap from="/tf_in" to="/tf_dirty" />
     <remap from="/tf_out" to="/tf" />
     <param name="remove_frames" value="rb2_map" />
   </node>
   
   <node name="map_server" pkg="map_server" type="map_server" args="/home/mbosch/workspaces/fresenius_ws/src/test_localization/map.yaml">
   <!--<node name="map_server" pkg="map_server" type="map_server" args="/home/mbosch/workspaces/fresenius_ws/src/test_localization/fresenius2.yaml">-->
      <param name="frame_id" value="$(arg global_frame)"/>
   </node>
    
   <include file="$(find fresenius_bringup)/launch/localization/amcl.launch">
        <!-- first map first bag at 1280 sec-->
        <!--<arg name="x_init_pose" value="-7.074" />-->
        <!--<arg name="y_init_pose" value="-33.471" />-->
        <!--<arg name="a_init_pose" value="1.57" />-->
        <!-- second map first bag at 1280 sec-->
        <!--<arg name="x_init_pose" value="55.583" />-->
        <!--<arg name="y_init_pose" value="-1.399" />-->
        <!--<arg name="a_init_pose" value="3.042" />-->
        <!-- first map second bag at 0 sec-->
        <arg name="x_init_pose" value="-12.1" />
        <arg name="y_init_pose" value="20.4" />
        <arg name="a_init_pose" value="-1.38" />
        <arg name="scan_topic" value="$(arg scan_topic)"/>
        
        <arg name="amcl_resample" value="true" />
    </include>


    <!--node name="player" pkg="rosbag" type="play" args="$(find emart_summit_xls)/bags/test_localization.bag " /-->

    <node pkg="tf" type="static_transform_publisher" name="base2frontlaser" args="0.355 0.213 0.298 0.785 0 0 $(arg prefix)base_footprint $(arg prefix)front_laser_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base2rearlaser" args="-0.355 -0.213 0.298 -2.356 0 0 $(arg prefix)base_footprint $(arg prefix)rear_laser_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base2footprint" args="0 0 0 0 0 0 $(arg prefix)base_footprint $(arg prefix)base_link 100" />

    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
		<param name="destination_frame" value="rb2_base_link"/>
		<param name="cloud_destination_topic" value="/merged_cloud"/>
		<param name="scan_destination_topic" value="/rb2/$(arg scan_topic)"/>
        <param name="laserscan_topics" value ="front_laser/scan rear_laser/scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d /home/mbosch/.rviz/rb2_fresenius.rviz" />
  </group>
</launch>
